---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';

export const prerender = true;
return Astro.redirect('https://fbrns.co/resume');
---
<html lang="en">
	<head>
		<MainHead title="Resume" />
	</head>
	<body>
		<Nav/>
		<div class="wrapper mt4 mb4">
			<h1>Resume</h1>
			<p>Not found</p>
		</div>
		<Footer/>
	</body>
</html>
